---
const title = "Ship faster with a go-to chat SDK";
const description =
  "Open-source chat SDK for Flutter and React Native. Build fast, real-time apps and AI agents with a high-performance, customizable, cross-platform UI.";
---

<head>
  <meta charset="UTF-8" />
  <meta name="robots" content="index, follow" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link rel="manifest" href="/site.webmanifest" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content={description} />
  <meta
    name="keywords"
    content="chat, development, open-source, react native, flutter, saas, firebase"
  />

  <meta name="apple-mobile-web-app-title" content="Flyer Chat" />
  <meta name="application-name" content="Flyer Chat" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="generator" content={Astro.generator} />

  <!-- Open Graph tags -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.flyer.chat" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta
    property="og:image"
    content="https://flyer.chat/og-image.png"
  />
  <meta property="og:image:alt" content="" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:site" content="@http://flyer.chat" />
  <meta
    name="twitter:description"
    content="Open-source chat SDK for Flutter and React Native. Build fast, real-time apps and AI agents with a high-performance, customizable, cross-platform UI"
  />
  <meta
    name="twitter:image"
    content="https://flyer.chat/summary_large_image.png"
  />

  <!-- <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" /> -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#6f61e8" />

  <title>Flyer Chat | {title}</title>
</head>
