---
import { type CollectionEntry } from "astro:content";
// import ArrowRight from '../icons/ArrowRight.astro';
import FormattedDate from "./FormattedDate.astro";

type Props = {
  post: CollectionEntry<"blog">;
  class?: string;
  headingLevel?: "h2" | "h3";
};

const { post, class: className, headingLevel = "h2" } = Astro.props;
const { title, publishDate, updatedDate, excerpt } = post.data;
const TitleTag = headingLevel;
---

<a
  class:list={[
    "flex justify-between items-start gap-8 group text-text-primary no-underline",
    className,
  ]}
  href={`/blog/${post.id}/`}
>
  <div class="grow">
    <TitleTag
      class="inline text-2xl leading-tight font-header1 font-medium group-hover:bg-primary group-hover:underline-offset-4 group-hover:decoration-1 sm:text-4xl duration-300 transition-all"
    >
      {title}
    </TitleTag>
    <div class="mt-3 text-base leading-normal">
      <FormattedDate date={publishDate} />
      {
        updatedDate && (
          <>
            {" "}
            <span>
              (Updated on <FormattedDate date={updatedDate} />)
            </span>
          </>
        )
      }
    </div>
    {excerpt && <div class="mt-3 text-lg leading-normal">{excerpt}</div>}
  </div>
</a>
